<%- include header %>
<div class="section">
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 article-fullpage">
			<div class="article">
				<div class="content-info">
					<h2><a><%= post.title %></a></h2>
					<p>
						作者：<a href="/u/<%= post.name %>"><strong><%= post.name %></strong></a>
					</p>
					<p>
						<% post.tags.forEach(function (tag, index) { %>
						<% if (tag) { %>
						<a href="/tags/<%= tag %>"><span class="btn btn-info btn-xs"><%= tag %></span></a>
						<% } %>
						<% }) %>
						<%= post.time.minute %>
						<% if (user && (user.name == post.name)) { %>
						<a href="/edit/<%= post._id %>">编辑</a>
						<a href="/remove/<%= post._id %>">删除</a>
						<% } %>
						<% var flag = 1 %>
						<% if (user) { %>
						<% if ((user.name == post.name) || (post.reprint_info.reprint_from_id == post._id) || (post.reprint_info.reprint_to_id == post._id)) { %>
						<% flag = 0 %>
						<% } %>
						<% } else { %>
						<% flag = 0 %>
						<% } %>
						<% if (flag) { %>
						<span><a href="/reprint/<%= post._id %>">转载</a></span>
						<% } %>
						<% if (post.reprint_info.reprint_from_id) { %>
						<a href="/p/<%= post.reprint_info.reprint_from_id %>">&nbsp;原文链接&nbsp;</a>
						<% } %>
						阅读：<%= post.pv %> &nbsp; 
						评论：<%= post.comments.length %> &nbsp; 
						转载：
						<% if (post.reprint_info.reprint_to_id) { %>
						<%= post.reprint_info.reprint_to_id.length %>
						<% } else { %>
						<%= 0 %>
						<% } %>
					</p>
				</div>
				<div class="content-thumbnail"></div>
				<div class="content-box-fullpage">
					<p><%- post.post %></p>
				</div>
				<%- include comment %>
			</div>
		</div>
		<div class="col-sm-2 col-md-4 col-lg-4 sidebar">
			<%- include sidebar %>
		</div>
	</div>
</div>
<%- include footer %>