<%- include header %>
<script charset="utf-8" src="/KindEditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="/KindEditor/lang/zh-CN.js"></script>
<script>
  // 富文本编辑器
  var editor;
  KindEditor.ready(function(K) {
  	editor = K.create('textarea', {
  		allowImageUpload : false,
  		items : [
  		'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
  		'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
  		'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
  	});
  });
</script>
<div class="section">
<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<form class="form-group-lg post" method="post">
				<strong>标题：</strong><br />
				<input class="form-control" type="text" name="title" value="<%= post.title %>" disabled="disabled" /><br />
				<strong>分类：</strong><br />
				<input class="form-control" list="tag" name="tag" value="<%= post.tags[0] %>" disabled="disabled">
				<datalist id="tag">
					<option value="技术随笔">
					<option value="生活感悟">
					<option value="学习笔记">
				    <option value="前端专题">
				</datalist>
				<br />
				<strong>正文：</strong><br />
				<textarea class="form-control" name="post" rows="20"><%= post.post %></textarea><br />
				<input class="btn btn-default btn-block" type="submit" value="保存修改" />
			</form>
		</div>
	</div>
</div>
</div>
<%- include footer %>